.wrapper-header {
    background-image: url(../img/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5.8125rem 0 14.6875rem;
}

.container {
    min-width: 20rem;
    max-width: 73.125rem;
    margin: auto;

}

.header {
    display: block;
    margin: auto;
    position: relative;
}

.nav {
    display: none;
}

.logo-item {
    display: block;
    width: 9.1875rem;
    margin: auto;
}

.title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: block;
    text-align: center;
    line-height: 3.125rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #666666;
    margin: 6.25rem auto 3.5rem;
}

.title-red {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #cc3333;
}

.header-btn {
    display: block;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: #cc3333;
    color: #fff;
    font-size: 1rem;
    outline: none;
    padding: 1rem 3rem;
    border-radius: 3.125rem;
    text-transform: uppercase;
    border: none;
}

@media (min-width: 768px) {

    .wrapper-header{
        padding: 3.375rem 0 11.875rem;
    }

    .header-btn {
        font-size: 1rem;
    }

    .title {
        font-size: 4.4rem;
        color: #333333;
        line-height: 6.125rem;
        margin: 4.4375rem auto 5rem;

    }

}

@media (min-width: 1100px) {

    .wrapper-header {
        padding: 3.125rem 0 16.5625rem;
    }

    .header {
        padding-top: 5rem;
    }

    .title {
        max-width: 40rem;
        margin: 11.25rem auto 3.125rem;
    }

    .nav {
        display: block;
        margin: auto;

    }

    .logo-item {
        display: block;
        position: absolute;
        left: 44%;
        top: 10%;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        align-items: center;

    }

    .menu-link {
        color: #000;
    }

    .menu-item-r {
        margin-right: 5rem;
    }

    .menu-item-l {
        margin-left: 5rem;
    }

}

